[Unit]
Description=Check Zunia repos for updates every two minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15

[Install]
WantedBy=timers.target
